.admin-selection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}


.action{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border: none;
    border-radius: 10px;
    transition:0.5s ease;
    background: none;
    img{
        height: 200px;
        border-radius: 100px;
    transition:0.5s ease;

    }

    span{
        color: white;
        font-family: 'Poppins',sans-serif; 
        font-size: 20px;
        margin-top: 10px;
        padding: 4px;
    }
}

.action:hover {   
    box-shadow: 0px 2px 2px 4px rgb(175, 175, 175,0.8);
}

.action:hover img{   
    box-shadow: 0px 2px 2px 4px rgb(175, 175, 175,0.8);
}

@media screen and (min-width:481px) and (max-width:767px) {
    .container{
        gap: 10px;
    }

    .action {
        padding: 15px;
    }
}