.barber {
    margin-top: 15px;
}


.barber-container,
.service-container {
    border: 2px solid #0088E0;
    border-radius: 7px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 20vh;


}

.current-barber,
.current-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 15px 0px;
}


.barbers,
.services {
    border: 1px solid #0088E0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    height: fit-content;
    cursor: pointer;

    p {
        font-size: 15px;
        margin: 0px 0px 0px;
        white-space: normal;
        word-wrap: break-word;
    }
}

.title {
    font-size: 25px;
    color: #0088E0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.barbers:hover,
.services:hover {
    transition: ease;
    box-shadow: -1px 1px 5px 0px #002d72;
    background-color: #002d72;
    border: 1px solid #002d72;

    p {
        color: #ffffff;
        transition: ease;
    }
}