.background-container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;

    img {
        height: 100%;
        width: 100%;
        background-size: cover;
        // object-fit: cover;
    }
}

