.booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 48%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        height: 100px;
        width: 210px;
        object-fit: contain;
    }

    p {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
}

.booking-box {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3rem;
    padding-top: 4rem;
    padding: 2rem 2rem 3rem 2rem;
    height: auto;
    width: auto;
    border: 2px solid rgb(197, 8, 8);
    border-radius: 7px;

    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;

        .form-title {
            color: rgb(210, 1, 1);
            font-weight: 400;
            font-family: 'Unbounded', sans-serif;
            font-size: 25px;
        }

        .book {
            margin-top: 5px;
            border-radius: 0;
            width: auto;
            align-self: center;
            padding: 0.5rem 2.5rem;
        }
    }

    input {
        border: none;
        outline: none;
        box-shadow: none;
        background: none;
    }

    input::placeholder {
        color: navy;
    }


    .reg-input {
        display: flex;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid rgb(41, 40, 40);
        gap: 5px;
        margin-top: 10px;
    }
}

.mnb {
    display: flex;
    align-items: center;
    gap: 35px;
}

.pas-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border-bottom: 1px solid rgb(41, 40, 40);
    gap: 5px;
    display: inline-block;
}

.services-p {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.services-c {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;

    p {
        margin: 0;
    }
}

.reminder {
    display: flex;
    gap: 8px;

    .btn {

        border-radius: 50px;
    }
}

.title {
    margin-top: 2rem;
    display: flex;
    text-align: start;
    border-bottom: 1px solid rgb(255, 98, 0);
    padding: 5px 0;
    width: fit-content;
    font-weight: bolder;
}

.dropdown {
    cursor: pointer;

    .btn {
        margin-left: 10px;
        padding: 7px 55px;
    }
}

.dropdown {
    gap: 7px;
}

#barberlist {
    border-radius: 7px;
    gap: 7px;
    padding: 7px 45px;
}

.mobile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-outline-warning {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #daa403;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
}

.logo-container {
    position: relative;
    top: 35%;
    right: 20%;
    font-size: 100px;
}
