<!-- App-Background-component -->
<app-background imageUrl="../../../assets/backgrounds/appointments.jpg"></app-background>

<!-- Book-now-action-->
<header class="book-container">
  <button (click)='directTo()'>Book Now</button>
</header>
<div>

  <app-logo flex="row" height="56px" width="75px" color="#e74c3c"></app-logo>
</div>

<!-- Appointment-Display -->
<main class="appointments-container">
  <table>
    <thead>
      <tr>
        <th>SL.No:</th>
        <th>Name</th>
        <th>Barber Name</th>
        <th>Status</th>
      </tr>
    </thead>
      <tr *ngFor="let appointment of appointmentList">
        <td>{{ appointment.slno | number:'2.0' }}</td>
        <td>{{ appointment.name }}</td>
        <td>{{ appointment.barber }}</td>
        <td class="status" [ngClass]="{
                'Progress': appointment.status === 'Progress',
                'ready': appointment.status === 'Be Ready'
              }">{{ appointment.status }}</td>
      </tr>
  </table>
</main>