.appointments-container {
    width: 80%;
    margin: 2rem auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 1px;   
      text-align: center;
      font-family: 'Poppins', sans-serif;
    }
  
    th, td {
      padding: 12px 16px;
      font-size: 16px;
    }
  
    tr:first-child {
      background-color: #e74c3c;
      color: white;
      font-weight: bold;
  
      th:first-child {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }
      th:last-child {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
  
    tr:not(:first-child) {
      background: #fff;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);


      td {
        background: #fff;
      }

      td:first-child {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        font-weight: bold;
      }
      td:last-child {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
  
    td.status {
      font-weight: bold;
  
      &.Progress {
        color: green;
      }
  
      &.ready {
        color: #333;
      }
    }
  }
  
  
  button {
    position: absolute;
    top: 20px;
    right: 40px;
    background: #e74c3c;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'poppins',sans-serif;
  
    &:hover {
      background: #c0392b;
    }
  }
  
 .book-container{
  height: 71px;
 }