:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.custom-modal-otp {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    background: rgba(16, 16, 16, 0.8);
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
}

.custom-modal-context {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: 1;
    width: fit-content;
    gap: 15px;
    border-radius: 30px;
}