.toaster {
    background: white;
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    visibility: hidden;
    align-items: center;
    gap: 10px;

    p {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }

    .toaster-message {
        padding: 10px 0;
    }

    .progress-bar {
        width: 100%;
        height: 10px;
        background: #eee;
        overflow: hidden;
      }
      
      .progress-fill {
        height: 100%;
        transition: width 0.3s linear;
      }

    .info-type {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .message-info {
        margin: 0;
        font-size: 15px;
        color: white;
        font-weight: 600;
    }

}